# URL for your trusted repository
REPO="{{.Repository}}"

# Initial version to install
VERSION="{{.Version}}"

set -e
echo "Installing DBT $VERSION..."

# Config setup
CONFIG=$(cat <<EOF
{
  "dbt": {
    "repository": "{{.Repository}}"
    "truststore": "{{.Repository}}/truststore"
  },
  "tools": {
    "repository": "{{.Repository}}-tools"
  }
}
EOF
)

# create directories
DIRS=(~/.dbt ~/.dbt/trust ~/.dbt/conf ~/.dbt/tools)

for i in ${DIRS[@]}; do
    [[ -d $i ]] || mkdir $i && chmod 700 $i
done

# write config
echo "$CONFIG" > ~/.dbt/conf/dbt.json
chmod 600 ~/.dbt/conf/dbt.json

INSTALL_DIR="/usr/local/bin"
FILE="dbt"

OS=$(echo $(uname -s) | awk '{print tolower($0)}')
ARCH=$(uname -m)

# have to translate uname to goxish
if [[ "$ARCH" =~ "x86_64" ]]; then
    ARCH="amd64"
fi

URL="$REPO/$FILE/$VERSION/$OS/$ARCH/$FILE"

echo "Installing from $URL"

TMPDIR=$(mktemp -d)

DOWNLOAD_PATH="$TMPDIR/$FILE"

curl -sX GET $URL -o $DOWNLOAD_PATH

if [ -w $INSTALL_DIR ] ; then
    mv $DOWNLOAD_PATH $INSTALL_DIR
    chmod 755 "$INSTALL_DIR/$FILE"
else
    sudo mv $DOWNLOAD_PATH $INSTALL_DIR
    sudo chmod 755 "$INSTALL_DIR/$FILE"

fi

rm -r $TMPDIR

echo "Installation complete."
